{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Curriculum Vitae</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Cargar hojas de estilo -->
    <link rel="stylesheet" type="text/css" href="{% static 'cv/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'cv/css/bootstrap.min.css' %}">

    <style>
        /* Estilos para los botones personalizados */
        .mibtn {
            color: rgb(0, 0, 0);
            border-radius: 7px;
            padding: 5px 10px;
            margin: 4px;
        }

        .mibtn:hover {
            background-color: rgb(226, 137, 43);
        }
    </style>
</head>

<body>
    <main>
        <!-- Sección de proyectos ejecutables -->
        <div class="popular-location section-padding10">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-tittle text-center mb-80">
                            <span style="font-size: 2.7em; margin-top: 26px;">PROYECTOS EJECUTABLES</span>
                            <br>
                            <div>
                                <!-- Navegación entre diferentes secciones del portafolio -->
                                <a href="{% url 'paginaUNO' %}"><button class="mibtn">Home</button></a>
                                <a href="{% url 'condominio_home' %}"><button class="mibtn">Condominios</button></a>
                                <a href="{% url 'todo_oficial' %}"><button class="mibtn">Oficiales</button></a>
                                <a href="{% url 'tienda_list' %}"><button class="mibtn">Ecommerce</button></a>
                                <a href="{% url 'casa-admin' %}"><button class="mibtn">Auto-control de Repuestos</button></a>

                                <a href="{% url 'lista_repuestos' %}"><button class="mibtn">Tienda virtual - Facturación electronica DIAM</button></a>


                                <a href="{% url 'blog' %}"><button class="mibtn">Blog Código Info</button></a>
                                    <!--Crear base de datos para manejar esto en el html con for dato in datos -->
                                
                                <!-- Opciones de autenticación del usuario -->
                                {% if user.is_authenticated %}
                                    <form action="{% url 'logout' %}" method="post"> 
                                        {% csrf_token %} 
                                        <button class="mibtn" type="submit">Cerrar Sesión</button> 
                                    </form>
                                {% else %}
                                    <a href="{% url 'login' %}"><button class="mibtn">Iniciar Sesión</button></a>
                                    <a href="{% url 'signup' %}"><button class="mibtn">Crear Cuenta</button></a>
                                {% endif %}
                            </div>
                            <hr style="border: 2px solid black;">
                        </div>
                    </div>
                </div>

                <!-- Sección de tarjetas de proyectos -->
                <div class="row">

                    <!-- Ingresar proyectos por base de datos para limpiar codigo y no repetir divs -->

                    <!--Falta de arreglar-->

                    
                    
                    <!-- Proyecto: GE-Condominios -->
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-location mb-30">
                            <div class="location-img">
                                <img src="{% static 'cv/img/gallery/lista_repuestos.png' %}" alt="">
                            </div>
                            <div class="location-details">
                                <p>Facturación DIAM Colombia</p>
                                <a href="{% url 'lista_repuestos' %}" class="location-btn">Vista previa</a>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Proyecto: GE-Condominios -->
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-location mb-30">
                            <div class="location-img">
                                <img src="{% static 'cv/img/gallery/location1.png' %}" alt="">
                            </div>
                            <div class="location-details">
                                <p>Condominio Boulevard Agustin</p>
                                <a href="{% url 'condominio_home' %}" class="location-btn">Vista previa</a>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Proyecto: CM-Oficiales 2021 -->
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-location mb-30">
                            <div class="location-img">
                                <img src="{% static 'cv/img/gallery/location3.png' %}" alt="">
                            </div>
                            <div class="location-details">
                                <p>Seguridad Arcadia</p>
                                <a href="{% url 'todo_oficial' %}" class="location-btn">Vista previa</a>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Proyecto: CM-Ecommerce 2022 -->
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-location mb-30">
                            <div class="location-img">
                                <img src="{% static 'cv/img/gallery/location10.png' %}" alt="">
                            </div>
                            <div class="location-details">
                                <p>Sistema de compras</p>
                                <a href="{% url 'tienda_list' %}" class="location-btn">Vista previa</a>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Proyecto: CM-CONSULTAS 2022 -->
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-location mb-30">
                            <div class="location-img">
                                <img src="{% static 'cv/img/gallery/location13.png' %}" alt="">
                            </div>
                            <div class="location-details">
                                <p>Control de Consultas</p>
                                <a href="{% url 'casa-admin' %}" class="location-btn">Vista previa</a>
                            </div>
                        </div>
                    </div>
                    <!-- Proyecto: CM-BLOG 2023 -->
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-location mb-30">
                            <div class="location-img">
                                <img src="{% static 'cv/img/gallery/location14.png' %}" alt="">
                            </div>
                            <div class="location-details">
                                <p>Información</p>
                                <a href="{% url 'blog' %}" class="location-btn">Vista previa</a>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- Sección de experiencia laboral -->
        <div class="services-area pt-10 pb-10 section-bg" style="background: #030305;">
            <!-- pt-10 y pb-10 son padding superior e inferior de 2.5rem (40px) -->
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-tittle section-tittle2 text-center mb-50" style="margin-top: 70px;">
                            <!-- text-center centra el texto, mb-6 es margin-bottom de 1.5rem (24px) -->
                            <span class="text-4xl" style="font-size: 2.5em;">
                                <!-- text-4xl establece el tamaño del texto a 2.25rem (36px), en este caso modificado a 2.5em -->
                                Experiencia laboral
                            </span>
                        </div>
                    </div>
                </div>

                <!-- Lista de experiencia laboral -->
                <div class="row">
                    <div class="col-lg-12"> 
                        <div class="single-services text-center mb-6" style="margin-top: 0;">
                            <!-- text-center centra el contenido, mb-6 es margin-bottom de 1.5rem (24px) -->
                            <div class="text-center services-cap">
                                <h5 class="mb-2"><a href="#">Supervisor de seguridad GAM</a></h5>
                                <!-- mb-2 es margin-bottom de 0.5rem (8px) -->
                                <h5 class="mb-2"><a href="#">Respuesta armada y Escolta</a></h5>
                                <h5 class="mb-2"><a href="#">Protección de contenedores</a></h5>
                                <h5 class="mb-2"><a href="#">Aplicaciones administrativas</a></h5>
                                <h5 class="mb-2"><a href="#">Encargado Técnico T.I</a></h5>
                                <h5 class="mb-2"><a href="#">Departamento de becas en Academia ITN</a></h5>
                                <h5 class="mb-2"><a href="#">Oficial de Monitoreo y Vigilancia</a></h5>
                                <h5 class="mb-2"><a href="#">Seguridad Privada</a></h5>
                                <h5 class="mb-2"><a href="#">Programación Backend</a></h5>
                                <h5 class="mb-2"><a href="#">Instructor computacional</a></h5>
                                <h5 class="mb-2"><a href="#">Seguridad Industrial</a></h5>
                                <h5 class="mb-2"><a href="#">Palma Aceitera y Ganadería</a></h5>
                                <h5 class="mb-2"><a href="#">Otros...</a></h5>
                                <br>
                                <div class="services-icon mt-4">
                                    <!-- mt-4 es margin-top de 1rem (16px) -->
                                    <span class="flaticon-list"></span>
                                </div>
                                <div class="services-icon mt-2 ">
                                    <!-- mt-2 es margin-top de 0.5rem (8px) -->
                                    <span class="flaticon-respect"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Sección de contacto -->
        <div class="slider-area hero-overly">
            <div class="single-slider hero-overly slider-height d-flex align-items-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-8 col-lg-9">
                            <div>
                                <div class="hero__caption">
                                    <br>
                                    <a href="https://wa.me/50670907086" class="btn">Contactar a Whatsapp</a><br><br>
                                </div>
                                <br><br><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    
    <footer>
        <div class="footer-area ">
            <div class="container ">
                <div class="footer-top footer-padding py-4">
                    <div class="row justify-content-between flex-center-start">
                        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 ">
                            <div class="single-footer-caption mb-50 ">
                                <div class="single-footer-caption mb-30 ">
                                    <div class="footer-logo ">
                                        <a href="#">
                                            <img src=" {% static 'cv/img/logo/logo2_footer.png' %} " alt="">
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </div><!-- Comienza la columna con tamaño ajustable según el dispositivo -->
                        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 ">
                            <!-- col-xl-2: Ocupa 2 columnas en pantallas extra grandes, col-lg-2: 2 columnas en pantallas grandes -->
                            <!-- col-md-4: 4 columnas en pantallas medianas, col-sm-6: 6 columnas en pantallas pequeñas -->
                            
                            <!-- Contenedor de una sola sección del pie de página -->
                            <div class="single-footer-caption mb-50 ">
                                <!-- single-footer-caption: Clase personalizada para el estilo, mb-50: Margen inferior -->
                                
                                <!-- Título del pie de página -->
                                <div class="footer-tittle ">
                                    <!-- footer-tittle: Clase personalizada para el estilo del título -->
                                    
                                    <!-- Encabezado del título -->
                                    <h4>Sistemas creados</h4>
                                    <!-- h4: Título de nivel 4 con el texto "Sistemas creados" -->
                                    
                                    <!-- Lista de enlaces -->
                                    <ul>
                                        <!-- Lista no ordenada -->
                                        <li>
                                            <!-- Elemento de la lista -->
                                            <a href="{% url 'todo_oficial' %}">Oficiales de Seguridad</a>
                                            <!-- Enlace a la URL 'todo_oficial' con el texto "Oficiales de Seguridad" -->
                                        </li>
                                        <li>
                                            <!-- Elemento de la lista -->
                                            <a href="{% url 'condominio_home' %}">Condominio Arcadia</a>
                                            <!-- Enlace a la URL 'condominio_home' con el texto "Condominio Arcadia" -->
                                        </li>
                                        <li>
                                            <!-- Elemento de la lista -->
                                            <a href="{% url 'tienda_list' %}">Tienda Ecommerce</a>
                                            <!-- Enlace a la URL 'tienda_list' con el texto "Tienda Ecommerce" -->
                                        </li>
                                        <li>
                                            <!-- Elemento de la lista -->
                                            <a href="{% url 'casa-admin' %}">Consultas y búsquedas</a>
                                            <!-- Enlace a la URL 'gyna' con el texto "Consultas y búsquedas" -->
                                        </li>
                                        <li>
                                            <!-- Elemento de la lista -->
                                            <a href="{% url 'blog' %}">Blogger</a>
                                            <!-- Enlace a la URL 'blog' con el texto "Blogger" -->
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        

                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 ">
                            <div class="single-footer-caption mb-50 ">
                                <div class="footer-tittle ">
                                    <h4>Proyectos Play Store Android</h4>
                                    <ul>
                                        <li class="app-log ">
                                            <a href="{% url "proyectos" %}">
                                                
                                            <img src=" {% static 'cv/img/gallery/app-logo.png' %} " alt="">

                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom ">
                    <div class="row d-flex justify-content-between align-items-center ">
                        <div class="col-xl-9 col-lg-8 ">
                            <div class="footer-copy-right ">
                                <p>&copy; Yeison Araya || Todos los derechos reservados. </p>
                                
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </footer>
    
</body>

</html>

