{% extends 'vehicle/adminbase.html' %}
{% load widget_tweaks %}
{% block content %}
<head>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<br><br>
<div>
    <form method="post" class="max-w-4xl mx-auto bg-white p-8 rounded-lg shadow-md">
        {% csrf_token %}
        
        <div class="mb-6">
            <label for="status" class="block text-lg font-semibold">Estado del pedido:</label>   
            {% render_field adminenquiry.status class="form-control mt-2 w-full p-3 border border-gray-300 rounded-lg" %}
        </div>
    
        <div class="mb-6">
            <label for="dinomoDis" class="block text-lg font-semibold">Dinero en caja:</label>
            {% render_field adminenquiry.dinomoDis class="form-control mt-2 w-full p-3 border border-gray-300 rounded-lg" %}
        </div>
    
        <div>
            <input type="submit" value="Actualizar" class="w-full bg-green-500 text-white py-3 px-4 rounded-lg cursor-pointer hover:bg-green-600">
        </div>
    </form>
    
</div>
<br><br><br><br>
{% endblock content %}
