{% extends "base.html" %} 
{% block content %}

<div class="tabla-container mx-auto mt-4 p-4">
    <!-- mx-auto: Margen automático para centrar, mt-4: Margen superior, p-4: Padding -->
    <div>
        <h1 class="text-2xl font-bold text-center mb-4">Visitas Autorizadas</h1>
        <!-- text-2xl: Tamaño del texto, font-bold: Negrita, text-center: Texto centrado, mb-4: Margen inferior -->
        <table class="w-full border-collapse">
            <!-- w-full: Ancho completo, border-collapse: Colapsar bordes -->
            <thead>
                <tr class="bg-gray-100">
                    <!-- bg-gray-100: Fondo gris claro -->
                    <th class="border px-4 py-2">Id_visita</th>
                    <!-- border: Borde, px-4: Padding horizontal, py-2: Padding vertical -->
                    <th class="border px-4 py-2">Casa</th>
                    <th class="border px-4 py-2">Visitantes</th>
                    <th class="border px-4 py-2">Placas</th>
                    <th class="border px-4 py-2">Estado</th>
                    <th class="border px-4 py-2">Fecha</th>
                    <th class="border px-4 py-2">Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for visita in visitas %}
                <tr class="bg-white odd:bg-gray-50">
                    <!-- bg-white: Fondo blanco, odd:bg-gray-50: Fondo gris claro para filas impares -->
                    <td class="border px-4 py-2"> {{visita.id}}</td>
                    <!-- border: Borde, px-4: Padding horizontal, py-2: Padding vertical -->
                    <td class="border px-4 py-2"> {{visita.usuario.username}}</td>
                    <td class="border px-4 py-2"> {{visita.personas_visitantes}}</td>
                    <td class="border px-4 py-2"> {{visita.placas_autorizadas}}</td>
                    <td class="border px-4 py-2"> {{visita.eliminado|yesno:"Si,No"}}</td>
                    <td class="border px-4 py-2"> {{visita.fecha_creacion}}</td>
                    <td class="border px-4 py-2 text-blue-500 underline">
                        <a href="{% url 'registro_visitas_detalle' pk=visita.pk %}">Ver</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <div class="mt-8 flex justify-center space-x-4">
            <!-- mt-8: Margen superior, flex: Flexbox, justify-center: Centrar horizontalmente, space-x-4: Espaciado horizontal -->
            <a href="{% url 'registro_visitas_nuevo' %}">
                <button class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600 transition">
                    <!-- bg-green-500: Fondo verde, text-white: Texto blanco, px-4: Padding horizontal -->
                    <!-- py-2: Padding vertical, rounded: Bordes redondeados, hover:bg-green-600: Fondo verde oscuro en hover -->
                    <!-- transition: Transición suave -->
                    Añadir otra visita
                </button>
            </a>
            <a href="{% url 'condominio_home' %}">
                <button class="bg-gray-500 text-white px-4 py-2 rounded hover:bg-gray-600 transition">
                    <!-- bg-gray-500: Fondo gris, text-white: Texto blanco, px-4: Padding horizontal -->
                    <!-- py-2: Padding vertical, rounded: Bordes redondeados, hover:bg-gray-600: Fondo gris oscuro en hover -->
                    <!-- transition: Transición suave -->
                    Home
                </button>
            </a>
        </div>
    </div>
</div>


{% endblock %}

